.banner-image {
  width: 100%;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.banner-image-mobile {
  display: none;
}

.CheckButton {
  margin-top: 10px;
}
.white-text1 {
  font-size: 40px !important;
}
.loading {
  display: none;
}
.home-carousel-overlay-1 {
  display: none;
}
.home-carousel-overlay-2 {
  display: none;
}

.carousel-overlay-1 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  height: 180px;
}
.carousel-overlay-1 h1 {
  color: white;
  max-width: 470px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}
.carousel-overlay-1 p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.3;
}
.carousel-overlay-1 button {
  background-color: #0f397e;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.carousel-overlay-1 button:hover {
  background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
  font-size: 16px;
}

.carousel-overlay-2 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  height: 180px;
}
.carousel-overlay-2 h1 {
  color: white;
  max-width: 470px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}
.carousel-overlay-2 p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.3;
}
.carousel-overlay-2 button {
  background-color: #0f397e;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.carousel-overlay-2 button:hover {
  background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
  font-size: 16px;
}

.carousel-overlay-3 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  height: 180px;
}
.carousel-overlay-3 h1 {
  color: #0f397e;
  max-width: 470px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}
.carousel-overlay-3 p {
  color: #030a27;
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.3;
}
.carousel-overlay-3 button {
  background-color: #0f397e;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.carousel-overlay-3 button:hover {
  background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
  font-size: 16px;
}

.carousel-overlay-4 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  height: 180px;
}
.carousel-overlay-4 h1 {
  color: white;
  max-width: 470px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}
.carousel-overlay-4 p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.3;
}
.carousel-overlay-4 button {
  background-color: #0f397e;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.carousel-overlay-4 button:hover {
  background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
  font-size: 16px;
}

/* Media Query for tablets and below (max-width: 768px) */
@media (max-width: 770px) {
  .banner-image {
    height: 250px; /* Adjust height to better fit smaller tablets */
    border-radius: 15px; /* Slightly smaller border-radius */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Slightly less prominent shadow */
  }
  .CheckButton {
    margin-top: 8px; /* Slightly reduced margin */
  }
  .card-content {
    height: 25vh !important;
  }
  .carousel-overlay-1 h1 {
    font-size: 20px;
  }
  .carousel-overlay-1 p {
    font-size: 12px;
  }
  .carousel-overlay-1 button {
    font-size: 12px;
  }

  .carousel-overlay-1 button:hover {
    background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
    font-size: 14px;
  }

  .carousel-overlay-2 h1 {
    font-size: 20px;
  }
  .carousel-overlay-2 p {
    font-size: 12px;
  }
  .carousel-overlay-2 button {
    font-size: 12px;
  }

  .carousel-overlay-2 button:hover {
    background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
    font-size: 14px;
  }

  .carousel-overlay-3 h1 {
    font-size: 20px;
  }
  .carousel-overlay-3 p {
    font-size: 12px;
  }
  .carousel-overlay-3 button {
    font-size: 12px;
  }

  .carousel-overlay-3 button:hover {
    background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
    font-size: 14px;
  }

  .carousel-overlay-4 h1 {
    font-size: 20px;
  }
  .carousel-overlay-4 p {
    font-size: 12px;
  }
  .carousel-overlay-4 button {
    font-size: 12px;
  }

  .carousel-overlay-4 button:hover {
    background: linear-gradient(to left, rgb(102, 25, 237), rgb(26, 126, 232));
    font-size: 14px;
  }
}

/* Media Query for smaller mobile devices (max-width: 400px) */
@media (max-width: 650px) {
  .white-text1 {
    font-size: 20px !important;
  }
  .banner-image {
    display: none;
  }
  .CheckButton {
    margin-top: 5px; /* Further reduced margin */
  }
  .text-section-tagline {
    font-size: 12px !important;
  }
  .card-content {
    justify-content: flex-start !important;
  }
  .banner-image-mobile {
    display: block;
    min-height: 300px;
    aspect-ratio: 2/3;
    width: 100%;
    max-width: 100%;
  }
  .carousel-overlay-1 {
    top: 30px;
    left: 15px;
    transform: translateY(0%);
    bottom: 0;
    height: 460px;
    right: 15px;
  }
  .carousel-overlay-1 h1 {
    font-size: 32px;
  }
  .carousel-overlay-1 button {
    position: absolute;
    left: 15px;
    bottom: 40px;
    right: 15px;
  }
  .carousel-overlay-2 {
    top: 30px;
    left: 15px;
    transform: translateY(0%);
    bottom: 0;
    right: 15px;
    height: 460px;
  }
  .carousel-overlay-2 h1 {
    font-size: 32px;
  }
  .carousel-overlay-2 button {
    position: absolute;
    left: 15px;
    bottom: 40px;
    right: 15px;
  }
  .carousel-overlay-3 {
    top: 30px;
    left: 15px;
    transform: translateY(0%);
    bottom: 0;
    right: 15px;
    height: 460px;
  }
  .carousel-overlay-3 h1 {
    font-size: 32px;
  }
  .carousel-overlay-3 button {
    position: absolute;
    left: 15px;
    bottom: 40px;
    right: 15px;
  }
  .carousel-overlay-4 {
    top: 30px;
    left: 15px;
    transform: translateY(0%);
    bottom: 0;
    right: 15px;
    height: 460px;
  }
  .carousel-overlay-4 h1 {
    font-size: 32px;
  }
  .carousel-overlay-4 button {
    position: absolute;
    left: 15px;
    bottom: 40px;
    right: 15px;
  }
}
