.password-reset,
.contact-support {
  display: flex;
  justify-content: space-between;
}

.resend-code-button {
  background: linear-gradient(
    to right,
    rgba(119, 12, 136, 0.66),
    rgba(119, 12, 136, 0.66)
  );
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1px 4px; /* Adjusted padding to make the button smaller */
  cursor: pointer;
}

/* Adjust margins as needed */
.password-reset button {
  margin-left: auto;
}

.contact-support button {
  margin-left: auto;
  width: auto !important;
}

.forgot-password-container {
  display: flex;
  padding-left: 10vw;
  padding-bottom: 5vh;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding-top: 6%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 6%;
}

.forgot-password-title {
  text-align: left;
  font-size: 26px;
  margin-bottom: 10px;
}

.reset-password-title {
  font-size: 20px;
}

.content label input {
  width: 50%;
  height: 5vh;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding-left: 1vw;
}

.content label input[type='tel'] {
  text-align: center;
}

.content button {
  margin-bottom: 2vh;
  background: linear-gradient(to bottom right, #0080ff, #8000ff);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1vh 2vw;
  cursor: pointer;
  margin-left: 0.5vw; /* Adjust the left margin as needed */
  margin-top: 2vh;
  width: 10vw;
}

.mobile-number-send-code {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.content p {
  font-size: 13px;
}

.content p span {
  font-size: 13px;
}

.image {
  width: 50%;
  position: relative;
}

.image img {
  width: 66%;
  height: 74%;
  margin-left: 2.5vw;
  border-radius: 20px;
  margin-top: 8%;
}

.mobile-number-input {
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.send-code-button {
  width: auto !important;
  align-self: center;
}

.code-input-container {
  display: flex;
}
.code-input-box {
  text-align: center !important;
  background-color: white !important;
  margin: 0 0.5rem 0 0;
  padding: 0% !important;
  border-radius: 0.5vw !important;
  color: black !important;
}

.verify-code-wrapper {
  display: flex;
  flex-direction: column;
}

.verify-code-button {
  width: auto !important;
  align-self: center;
}

.resend-code-button {
  width: auto !important;
}

/* .mobile-number-input :active {
  border: 2px solid rgb(18, 154, 232);
} */

.mobile-number-input-box-wrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
}

@media screen and (max-width: 786px) {
  .forgot-password-container {
    padding-top: 5vh; /* Reduce top padding */
    padding-left: 5vw; /* Reduce left padding */
    padding-bottom: 2vh; /* Reduce bottom padding */
  }

  .content {
    width: 80%; /* Adjust width */
    padding: 15px; /* Reduce padding */
  }

  .content label input {
    width: 50%; /* Make input full width */
  }

  .content button {
    padding: 10px; /* Adjust padding */
    margin-left: 0; /* Reset left margin */
    width: auto !important;
  }

  .resend-code-button {
    padding: 1px 2px; /* Adjust padding for smaller button */
  }
  .image {
    display: none;
  }

  .password-reset,
  .contact-support {
    width: 50vw;
  }
}

@media screen and (max-width: 400px) {
  .forgot-password-container {
    padding-left: 2vw; /* Further reduce left padding */
  }

  .content {
    width: 90%; /* Further reduce width */
    padding: 35px; /* Further reduce padding */
  }

  .content label input {
    height: 4vh; /* Reduce input height */
  }

  .content button {
    padding: 8px; /* Further reduce padding */
    width: 30vw;
  }

  .resend-code-button {
    padding: 1px; /* Further adjust padding for smaller button */
  }

  .image {
    display: none;
  }

  .mobile-number-input {
    width: 100%;
  }

  .code-input {
    width: 29vw !important;
  }

  .password-reset,
  .contact-support {
    width: 78vw;
  }
}
