.admin-visitors-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-visitors-container h2 {
  padding-top: 1.2rem;
  margin-top: 0;
}
.visitors-line-chart-container {
  height: 60%;
}
